<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-12">
      <h1 class="h1">
        AI Server
      </h1>
    </div>
  </div>


  <div class="row">
    <div class="col-12 ">
      <button (click)="connect()" class="btn btn-success btn-lg" >Connect</button>
      <button (click)="restart()" class="btn btn-dark btn-lg" >Restart</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
       <pre class="border">
          {{ map | json }}
      </pre>
    </div>
  </div>


  <div class="row">
    <div class="col-12">
       <pre class="border">
          {{ msg | json }}
      </pre>
    </div>
  </div>




</div>



<!--<canvas #myCanvas width="500" height="500"></canvas>-->



